* {
    box-sizing: border-box;
}
body {
    margin: 0px

    
}
a{
    text-decoration: none;
}


h2{
    text-align: center;
    margin-bottom: 40px;
}

header {
    color: white;
}

.fond_noir {
    background-color: #282828;
    padding: 20px;
}

.navBar {
        display: flex;
    gap: 100px;
    a{
        color: white;
    }
        
}

.container {
    width: 1030px;
    margin: auto;
}

.bouton {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    margin-top: 20px;
}
.rose_line {
  display: flex; 
  align-items: center;
    justify-content: center;

  
}
.fond_blanc {
  
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap {
    gap: 140px;
}
.cards {
    text-align: center;
}

.flexprojet{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    
}

.projets{
    width: 310px;
    img{
        width: 100%;
    }
}

.avis{
    display: flex;
    border: 100px;
    color: black;
    
    
}

.cardAvis {
    background-color: #c3c3c3;
    padding: 24px;
    height: 300px;
    .imgblock_besidesfaceblock_container{
        display: flex;
    .blockbesidesface{
        .star{
            display:flex;
        }
    }

    }
.img_profileblock{
    width: 50px;

}
    
.img_profile{
    width: 100%;
    border-radius: 100%;
    
    

}
   
}

.footer{
    display: flex;
    flex-direction:row;
    .icons{
        width: 30px;
        height: 30px;
    }
    
}




