body {
    margin: 0px
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

header {
    color: white;
}

.fond_noir {
    background-color: #282828;
    padding: 20px;
}

.navBar {
        display: flex;
    gap: 100px;
    a{
        color: white;
    }
        
}

.container {
    width: 1030px;
    margin: auto;
}

.bouton {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    margin-top: 20px;
}
.rose_line {
  display: flex; 
  align-items: center;
    justify-content: center;

  
}
.fond_blanc {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap {
    gap: 140px;
}
.cards {
    text-align: center;
}